@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #070408;
  font-family: var(--font-noto-sans), Arial, Helvetica, sans-serif;
}

/* General page content container */
.custom_container {
  @apply px-5 lg:px-20 container mx-auto;
}

/* Button */
.button_std {
  @apply inline-block py-1.5 px-2.5 bg-transparent border text-black border-black hover:bg-black hover:text-white rounded-sm font-normal bg-white;
}

.button_std_danger {
  @apply bg-transparent border-red-600 hover:border-red-800 bg-red-600 hover:bg-red-800 text-white;
}

.button_std_positive {
  @apply bg-green-600 border-green-600 hover:border-green-800 text-white hover:bg-green-800;
}

.button_std_positive:disabled {
  @apply cursor-not-allowed hover:bg-green-600 hover:bg-opacity-50 bg-green-600 bg-opacity-50;
}

.button_std_small {
  @apply py-0;
}

/* Table */
.table_wrapper {
  @apply overflow-auto max-h-screen border border-gray-200 rounded-md;
}

.table_std {
  @apply w-full border-spacing-0;
}

.table_std th {
  @apply py-2.5 sticky top-0;
}

.table_std td, .table_std th {
  @apply px-5 py-2.5;
}

.table_std tr:nth-child(odd) td {
  @apply bg-gray-100
}

.table_std .td_width-auto {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table_std .td_width-auto_blank {
  padding: 0;
}

.table_std .td_width-hug {
  white-space: nowrap;
  width: 0;
}

.table_std .td_link {
  @apply p-0
}

.table_std .td_link > a {
  @apply flex items-center px-5 h-11;
}

.table_std .tr_link:hover td {
  @apply bg-blue-100;
}

/* Modal */
.modal_std {
  @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 hidden items-center justify-center p-0 md:p-5 z-10;
}

.modal_std[open] {
  @apply flex
}

.modal_std_inner {
  @apply bg-white md:rounded-md p-10 h-full overflow-auto w-full md:w-auto md:h-auto flex flex-col justify-center;
}

/* Input field */
.field_std {
  @apply bg-gray-200 w-full p-2.5 outline-none rounded-sm;
}

.field_std_small {
  @apply p-1.5 py-0;
}

.field_std:user-invalid {
  @apply bg-red-200 text-red-600;
}

.field_std:user-invalid::placeholder {
  @apply text-red-400
}
